@()
<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
            <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

            <!-- jQuery library -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

            <!-- Latest compiled JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

        <script type="text/javascript" src="//platform.linkedin.com/in.js">
                api_key:   81ybwgwl5bfuu9
                onLoad:    onLinkedInLoad
                authorize: true
                scope: r_basicprofile r_emailaddress
        </script>

        <script type="text/javascript">

                // Setup an event listener to make an API call once auth is complete
                //                $(document).ready(onLinkedInLoad());

                function onLinkedInLoad() {
                    IN.Event.on(IN, "auth", getProfileData);
                }

                // Handle the successful return from the API call
                function onSuccess(data) {
                    console.log(data);
                    console.log(data.firstName);
                    var currentURL = window.location.href;
                    var parts = currentURL.split('/');
                    var baseURL= "";
                    for(var iter = 0; iter <= parts.length - 2; iter++)
                    {
                        baseURL += parts[iter]+"/";
                    }
                    console.log(baseURL);
                    var fname = data.firstName.toString();
                    var lname = data.lastName.toString();
                    var id = data.id.toString();
                    var location = data.location.name.toString();
                    var numCons = data.numConnections.toString();
                    var imgURL = data.pictureUrl.toString();
                    var email = data.emailAddress.toString();
                    var industry = data.industry.toString();

                    window.location.replace(baseURL+"vfillprofile?fname="+fname+"&lname="+lname+"&email="+email+"&id="+id+"&location="+location+"&numCons="+numCons+"&imgURL="+imgURL+"&industry="+industry);
                }

                // Handle an error response from the API call
                function onError(error) {
                    console.log(error);
                }

                // Use the API call wrapper to request the member's basic profile data
                function getProfileData() {
                    IN.API.Raw("/people/~:(id,email-address,first-name,last-name,industry,location,volunteer,num-connections,picture-url,skills)").result(onSuccess).error(onError);
                }

        </script>
        <style>
        body{
            text-align: center;
        }
        </style>
    </head>
    <body>


        <div class="jumbotron">
            <h1 style="text-align: center;">AngelMatch</h1>
            <h2 style="text-align: center;">Matching Angels to Organizations</h2>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <h2>Volunteers</h2>
                <script type="in/Login"></script>
            </div>
            <div class="col-sm-6">
                <h2>Organizations</h2>
                <h3>New Organization?</h3>
                <a href="@routes.Application.orgCompleteProfile()">Sign Up As Organization</a>
                <h3>Already have an account?</h3>
                <a href="@routes.Application.orgLogin()">Login as Organization</a>
            </div>
        </div>

        <br>
        <div>
            In this project, we aim to develop an application to intelligently match people seeking to volunteer<br>
            their services, to organizations seeking volunteers with specific skills. We utilize the latest machine<br>
            learning techniques along with bleeding-edge cloud technologies to bring forward a smart, scalable application.<br>
            Target Users are the people looking to volunteer their time/services seeking organizations and Organizations <br>
            looking for volunteers
            <br><br><br><br><br><br><br>
        </div>
    </body>
    <div id="footer">
        Copyright 2016-17 AngelMatch
    </div>
</html>