<!DOCTYPE html>
<html lang="en">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
            <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

            <!-- jQuery library -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

            <!-- Latest compiled JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <style>
        body{
            margin-left: 5%;
        }
        </style>
    </head>
    <body>
        <h1>Angelmatch</h1>
        <br>
        <h3>Sign Up as an Organization</h3>
        <form name="oProfileForm" id="oProfileForm" action="">
            Registered NGO ID (8 digit id given by NGOA(US)):<input type="number" id="org_id" name="org_id"><br>
            Organization Name:<input type="text" id="name" name="name"><br>
            Location:<input type="text" id="location" name="location"><br>
            Official Email: <input type="text" id="email" name="email"><br>
            Social Issues you support:<br>
            <input type="checkbox" name="issuesSupported[]"  value="1">issue1<br>
            <input type="checkbox" name="issuesSupported[]"  value="2">issue2<br>
            <input type="checkbox" name="issuesSupported[]"  value="3">issue3<br>
            <input type="checkbox" name="issuesSupported[]"  value="4">issue4<br>
            <input type="checkbox" name="issuesSupported[]"  value="5">issue5<br>
            <input type="checkbox" name="issuesSupported[]"  value="6">issue6<br>
            <input type="checkbox" name="issuesSupported[]"  value="7">issue7<br>
            No. of years in operation: <input type="number" id="yearsOperation" name="yearsOperation"><br>
            <input type="submit">
        </form>
    </body>
</html>