@(event_list:List[models.Event])
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
            <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

            <!-- jQuery library -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

            <!-- Latest compiled JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <style>
        body{
            text-align: center;
        }
        </style>

    </head>
    <body>
        <h1>AngelMatch  <small>Matching Volunteers to Organizations</small></h1>
        <hr>
        <div class="row">
            <div class="col-sm-6">
                <h2> Organization Profile </h2>
            </div>
            <div class="col-sm-6">
                <h2> Add Event </h2>
                <form method="POST" action="@routes.Application.addEvent()">
                Event Name: <input type="text" id="event_name" name="event_name"><br>
                Event Date: <input type="date" id="event_date" name="event_date"><br>
                    Time From:<input type="time" id="eventStartTime" name="eventStartTime"><br>
                    Time   To:<input type="time" id="eventEndTime" name="eventEndTime"><br>
                Skills needed(Comma separated):<input type="text" id="event_skills" name="event_skills">
                    <input type="submit">
                </form>
            </div>
        </div>
        <hr>
        <div class="row">
                <h2>Current Open Events</h2>
                @if(!event_list.isEmpty){
                    @for(event <- event_list){
                        <div class="row">
                         <h2>@event.getName</h2>
                            Date: @event.getDate();<br>
                            From: @event.getFromTime();<br>
                            To: @event.getToTime();<br>
                            Skills:@event.getSkillsRequired()<br>
                            <form method="GET" action="@routes.Application.rankedVolunteers()">
                                <button id="recommendButton" name="recommendButton" value="@event.getSkillsRequired()|@event.getIssues()|@event.getDate()|@event.getFromTime()|@event.getToTime()|@event.getLocation()">Get Good Candidates</button>
                            </form>
                        </div>
                    }
                }
        </div>
        <hr>
    </body>
</html>