@(fname:String,lname:String,email:String,id:String,location:String,numCons:String,imgurl:String)
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
            <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

            <!-- jQuery library -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

            <!-- Latest compiled JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <style>
            body{
                margin-left: 5%;
                margin-right: 5%;
            }
        </style>
    </head>
    <body>
        <h1>Angelmatch    <small>Matching angels to orgs</small></h1>
        <br>
        <h3>Complete your Volunteer profile</h3>
        <hr>
        <form method="post" name="vProfileForm" id="vProfileForm" action="@routes.Application.processVolunteerForm()">
            ID:<input type="text" id="vid" name="vid" value=@id><br>
            Fname:<input type="text" id="fname" name="fname" value=@fname><br>
            Lname:<input type="text" id="lname" name="lname" value=@lname><br>
            Location:<input type="text" id="location" name="location" value=@location><br>
            Email: <input type="text" id="email" name="email" value=@email><br>
            Image URL: <input type="text" id="imgurl" name="imgurl" value=@imgurl><br>
            Skills(Comma separated):<textarea name="skills" id="skills"></textarea><br>
            Endorsements(Comma separated):<textarea name="endorsements" id="endorsements"></textarea><br>
            Number of Connections: <input id="numCons" name="numCons" value=@numCons><br>
            Volunteer Issues you support:<br>
                <input type="checkbox" name="issuesSupported[]"  value="1">issue1<br>
                <input type="checkbox" name="issuesSupported[]"  value="2">issue2<br>
                <input type="checkbox" name="issuesSupported[]"  value="3">issue3<br>
                <input type="checkbox" name="issuesSupported[]"  value="4">issue4<br>
                <input type="checkbox" name="issuesSupported[]"  value="5">issue5<br>
                <input type="checkbox" name="issuesSupported[]"  value="6">issue6<br>
                <input type="checkbox" name="issuesSupported[]"  value="7">issue7<br>
            Volunteer experience in years: <input type="number" id="yearsExperience" name="yearsExperience"><br>
            Next 3 timeslots when you're free:<br>
                Date:<input type="date" id="ts1" name="ts1">From:<input type="time" id="ts1_from" name="ts1_from">To:<input type="time" name="ts1_to" id="ts1_to"><br>
                Date:<input type="date" id="ts2" name="ts2">From:<input type="time" id="ts2_from" name="ts2_from">To:<input type="time" id="ts2_to" name="ts2_to"><br>
                Date:<input type="date" id="ts3" name="ts3">From:<input type="time" id="ts3_from" name="ts3_from">To:<input type="time" id="ts3_to" name="ts3_to"><br>
            <input type="submit">
        </form>
    </body>
</html>