<!DOCTYPE html>
<html lang="en">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
            <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

            <!-- jQuery library -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

            <!-- Latest compiled JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <style>
            body{
                margin-left: 5%;
                margin-right: 5%;
            }
        </style>
    </head>
    <body>
        <h1>Angelmatch    <small>Matching angels to orgs</small></h1>
        <br>
        <h3>Complete your Volunteer profile</h3>
        <hr>
        <form name="vProfileForm" id="vProfileForm" action="">
            Fname:<input type="text" id="fname" name="fname" value="prefilled First Name"><br>
            Lname:<input type="text" id="lname" name="lname" value="prefilled Last Name"><br>
            Location:<input type="text" id="location" name="location" value="prefilled location"><br>
            Email: <input type="text" id="email" name="email" value="prefilled email"><br>
            Skills(Comma separated):<textarea name="skills" id="skills"></textarea><br>
            Number of followers: <input id="numFollowers" name="numFollowers" value="prefilled hidden"><br>
            Volunteer Issues you support:<br>
                <input type="checkbox" name="issuesSupported[]"  value="1">issue1<br>
                <input type="checkbox" name="issuesSupported[]"  value="2">issue2<br>
                <input type="checkbox" name="issuesSupported[]"  value="3">issue3<br>
                <input type="checkbox" name="issuesSupported[]"  value="4">issue4<br>
                <input type="checkbox" name="issuesSupported[]"  value="5">issue5<br>
                <input type="checkbox" name="issuesSupported[]"  value="6">issue6<br>
                <input type="checkbox" name="issuesSupported[]"  value="7">issue7<br>
            Volunteer experience in years: <input type="number" id="yearsExperience" name="yearsExperience"><br>
            Next 3 timeslots when you're free:<br>
                Date:<input type="date" id="ts1">From:<input type="time" id="ts1_from">To:<input type="time" id="ts1_to"><br>
                Date:<input type="date" id="ts2">From:<input type="time" id="ts2_from">To:<input type="time" id="ts2_to"><br>
                Date:<input type="date" id="ts3">From:<input type="time" id="ts3_from">To:<input type="time" id="ts3_to"><br>
            <input type="submit">
        </form>
    </body>
</html>